html{
    margin: 0;
    padding: 0;
}
/* body */
body{
    background-color: #e2888f;
}

    /* navigation  */

nav{
    display: grid;
    grid-template-rows: 2;
}
#logo{
    width: 15rem;
    border-radius: 50%;
}
#logoimg{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.nav-link{
    display: inline;
}
    /* container for all links nav links */
#links{
    margin: auto;
    margin-bottom: 2rem;
}

    /* container for individual links */

.nav-link{
    margin: 3rem;
    text-decoration: none;
    color: black;
    font-family: 'Zen Loop', cursive;
    font-size: 4rem;
}
.nav-link:hover{
    color: #f7e6ec ;
    border-bottom: solid 1px #f7e6ec;
}

/* about us */

#about_us > h1 , p {
    text-align: center;
}

#about_us > h1{
    border-bottom: 1px solid oldlace;
    width: 15rem;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Zen Loop', cursive;
}

#about_us > p{
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
}
