*, html{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
  }
/* body */
body{
    background-color: #e2888f;
}

    /* navigation  */

nav{
    display: grid;
    grid-template-rows: 2;
}
#logo{
    width: 15rem;
    border-radius: 50%;
}
#logoimg{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.nav-link{
    display: inline;
}
    /* container for all links nav links */
#links{
    margin: auto;
    margin-bottom: 2rem;
}

    /* container for individual links */

.nav-link{
    margin: 3rem;
    text-decoration: none;
    color: black;
    font-family: 'Zen Loop', cursive;
    font-size: 4rem;
}
.nav-link:hover{
    color: #f7e6ec ;
    border-bottom: solid 1px #f7e6ec;
}

/* about us */
#about_us{
    height: 100vh;
}
#img_p{
    width: 80vw;
    margin: auto;
    
}
#Hannah{
    border-radius:100%;
    width: 20rem;
    shape-outside:circle(50%);
    shape-margin: 1rem;
    float: left;
}
#about_p {
    font-size: 1.8rem;
    
}

#about_us > h1{
    border-bottom: 1px solid oldlace;
    width: 15rem;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Zen Loop', cursive;
    text-align: center;
}

/* Gallery */

#gallery{
    height: 100vh;
    width: 50vw;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-right: 80px;
    padding-top: 50px;
}

.g_img{
    width: 13rem;
    border: 2px solid white;
    border-radius: 10px;
}
.g_img:hover{
    z-index:100;
    width: 25rem;
    border: 2px solid white;
    border-radius: 10px;
}
